/*Fonts on Windows:
https://en.wikipedia.org/wiki/List_of_typefaces_included_with_Microsoft_Windows
Fonts on Macs:
https://en.wikipedia.org/wiki/List_of_typefaces_included_with_macOSfon
General Font Information:
http://www.cssfontstack.com/*/

body{
  font-family: 'Rubik Beastly', cursive;
}
